<h1>List of all Tags</h1>

<ul id="tags">
  <% @tag.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      <%= link_to "delete", tag_path(tag), method: :delete,
       data: {confirm: "Really delete the article?"} %>
    </li>
  <% end %>
</ul>
